body {
    background: #baaba5;
    height: 100vh;
    margin:0;
    padding: 0;
}

.container {
    background: #bada55;
    width: 50%;
    min-height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}
.container h1 {
    display: inline-block;
}

.game-board {
    background: darkcyan;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);

    width: 600px;
    height: 600px;
    margin: 0 auto;
    grid-gap: 5px;
    background: #000;
}
.grid-item {
    background-color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.grid-item.x {
    background-image: url('assets/x.png');
    background-size: cover;
}
.grid-item.player-x:not(.o):not(.x):hover::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('assets/x.png');
    background-size: cover;
    opacity: 0.25;
}
.grid-item.o {
    background-image: url('assets/o.png');
    background-size: cover;
}
.grid-item.player-o:hover::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('assets/o.png');
    background-size: cover;
    opacity: 0.25;
}